h1{
    font-family: "Fixedsys Regular";
    text-align: left;
}
#Box{
    height: 500px;
    width: 500px;
    border-color: black;
    border-style: solid;
    border-width: 10px;
    position: absolute;
}
#Car{
    position: absolute;
    top: 370px;
    left: 0px;
    height: 120px;
    width: 90px;
}
.Robber{
    position: absolute;
    height: 70px;
    width: 70px;
}
#Kid{
    position: absolute;
    height: 65px;
    width: 35px;
}